.introDiv {
  display: flex;
}
.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.splitDiv {
  display: flex;
  width: 100%;
  height: 100%;
}
.column {
  justify-content: center;
  position: relative;
}
.innerColumn {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.splitDivWrapper {
  height: 100vh;
}
.contentText {
  text-align: center;
}
.aboutText {
  text-align: center;
}
.contentImageImg {
  max-width: 100%;
}
.EndText {
  padding-bottom: 0px;
  padding-top: 100px;
}
.contentPane {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ColumnTitles {
  display: flex;
  height: 100px;
  width: 100%;
  padding-bottom: 50;
}
.HalfPageColumnTitle {
  flex: 50%;
  text-align: center;
}

.buttonContainer {
  display: flex;
  height: 50px;
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
}

.drawerButton {
  width: 100%;
  height: 100%;
  background-color: red;
  text-align: center;
}

.columnWrapper {
  position: relative;
  overflow-y: scroll;
  flex: 50%;

  justify-content: center;
}

.expandDivLeft {
  width: 25px;
  position: absolute;
  background-color: blue;
  height: 25px;
  right: 0;
}

.expandDivRight {
  width: 25px;
  position: absolute;
  background-color: blue;
  height: 25px;
  left: 0;
}

.collapsibleDiv {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 1s ease-out;
  max-height: 0px;
  width: 100%;
  text-align: center;
}

@keyframes expand {
  0% {
    flex: 0.5;
  }
  100% {
    flex: 1;
  }
}

@keyframes shrink {
  0% {
    flex: 0.5;
  }
  100% {
    flex: 0;
  }
}
@keyframes even {
  100% {
    flex: 0.5;
  }
}
